body {
	margin: 0px;
}
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#threejs-container {
  position: relative;
}

#threejs-container > canvas {
  position: absolute; 
}

.walker.label {
  position: absolute;
  font-weight: 200;
  color: #fff;
  font-size: 70%;
  border: 1px solid lightgrey;
  background: grey;
  padding: 2px;
}

.mwm-loading {
	position: absolute;
	top: 50%;
	left: 20%;
	width: 60%;
	z-index: 1;
}
